*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
    
}
.heading{
    height: 60px;
}
.location, .Temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Temperature{
    flex-direction: column;
}
.temp-section{
    display: flex;
    align-items: center;
}
.temp-section span{
    
    font-size: 40px;
}
.temp-section h3{
    font-size: 40px;
}

.degree{
    height: 30px;
}
.temp-degree{
    margin-right: 10px;
}
.sunset { background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
     }


.day { background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
     }


.night { background-color: #043b48;
    background-image: linear-gradient(19deg, #043b48 0%, #172f50 49%, #0a0000 100%);
     }
